@model sprzedazBiletow.Models.LoginResponse
@{
    ViewBag.Title = "Account Page";
}
<br />
<h1>TWOJE KONTO</h1>
<br /><br />

@*<input type="button" value="ZMIEŃ DANE" />*@
<a href="@Url.Action("Logout","Home")">WYLOGUJ</a>

<br /><br />
<div>
    <h5> IMIĘ I NAZWISKO: <span>@Session["userName"].ToString()</span><span> @Session["userLastName"].ToString()</span>  </h5>
    <h5> ADRES EMAIL: <span>@Session["userEmail"].ToString()</span></h5>
    <h5> ZAKUPIONE BILETY: </h5>
</div>