@model sprzedazBiletow.Models.User

<br />
<h1>TWOJE KONTO</h1>
<br /><br />

<input type="button" value="ZMIEŃ DANE" />

<br /><br />
<div>
    <h5> IMIĘ I NAZWISKO: @Html.DisplayFor(Model => Model.Login)  </h5>
    <h5> RODZAJ ULGI: </h5>
    <h5> LISTA ZAKUPIONYCH BILETÓW: </h5>
</div>